body {
    background-color: #A8ABB2;
}

a {
    font-family: Verdana;
    color: black;
    text-decoration: none;
}

h2 {
    font-family: Verdana;
    color: black;
}

p {
    font-family: Verdana;
    color: black;
}

.body {
    width: 70%;
    clear: both;
    margin: auto;
}

#mainH1 {
    color: black;
    font-family: Verdana;
    /*text-align: center;*/
    margin-top: 2%;
    margin-bottom: 2%;
}

li {
    float: left;
    display: inline;
    list-style: none;
    text-decoration: none;
} 

.content {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2%;
}

.mainHeader nav {
    background-color: #050912;
    height: 10px;
    border-radius: 5px;
}

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    background-color: #050912;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

.mainFooter p {
    width: 92%;
    margin: 10px auto;
    color: white;
}
