/* Eigen fonts toevoegen zodat iedereen ze kan zien, ookal hebben ze de font niet geinstalleerd */

@font-face {
    font-family: easyInstallFont;
    src: url("../fonts/MaxPro.otf") format("opentype");
}

body {
    background-color: #292929;
    font font-size: 14px;
    font-family: easyInstallFont, Arial, Lucida Sans Unicode;
    /* Max Pro */
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #950000;
}

a:hover(not: .active),
a:active {
    /*background-color: #950000;*/
    color: black;
}

.body {
    margin: auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width: 70%;
    height: auto;
    margin: 1% 0;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 5%;
}


/*----------------------------------------------------------------------- NAVIGATION  ----------------------------------------------------- */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    box-shadow: 3px 5px 30px black;
    border-radius: 5px;
}

ul.topnav li {
    float: left;
    display: inline;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.topnav a:link,
.topnav a:visited {
    padding: 10px 25px;
    height: 20px;
}

ul.topnav li a:hover {
    background-color: #555;
}

ul.topnav li.icon {
    display: none;
}

.active {
    background-color: #E91A15;
}


/*
nav {
    box-shadow: 3px 5px 30px black;
    font-weight: 600;
    font-family: easyInstallFont, Verdana, Arial;
}


.mainHeader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
}

.mainHeader nav #menu1 {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav #menu1 li {
    float: left;
    display: inline;
}

.mainHeader nav a:link,
.mainHeader nav a:visited {
    color: white;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.active {
    background-color: #E91A15;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
    background-color: #E91A15;
}
*/


/*------------------------------------------------------ Content Home --------------------------------------------------------------------- */

.mainContent {
    line-height: 25px;
    border-radius: 5px;
}

.content,
.contentTwo,
.contentOverOns {
    width: 100%;
    float: left;
}

content p {
    color: black;
    font-size: 1.2em;
}

.HeaderTitle {
    color: #E91A15;
}

.firstContent {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    box-shadow: 3px 5px 30px black;
    /*margin-right: 25%;*/
}

.secondContent {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    width: 53%;
    box-shadow: 3px 5px 30px black;
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 25%;*/
}

.thirdContent {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    box-shadow: 3px 5px 30px black;
    /*margin-right: 25%;*/
}


/* ------------------------------------ Over Ons Content --------------------------- */

.firstContentOverOns {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    box-shadow: 3px 5px 30px black;
    width: 90%;
    /*float: left;*/
    /*margin-right: 25%;*/
}

.secondContentOverOns {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    box-shadow: 3px 5px 30px black;
    width: 53%;
    float: right;
    vertical-align: middle;
    display: inline-block;
    /*margin-right: 25%;*/
}


/*----------------------------------- Over Ons IMAGE -------------------------------- */

.contentOverOns img {
    float: left;
    margin-top: 2%;
    height: 302px;
    width: 35%;
    border-radius: 5px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    box-shadow: 3px 5px 30px black;
}

.sideImageContentOverOns {
    width: 100%;
}


/* ------------------------------- HOME Content IMAGE ------------------------------- */

.contentTwo img {
    height: 297px;
    width: 34%;
    margin-top: 2%;
    margin-left: 2.5%;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 3px 5px 30px black;
}

.sideImageContent {
    width: 100%;
}


/* --------------------------------------------------------------------------------------- */

.sideContent {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    box-shadow: 3px 5px 30px black;
    width: 10%;
    overflow: hidden;
    float: right;
    /*margin-right: 25%;*/
}


/* --------------------------------------------------------------------------------PROBLEM SIDE BAR------------------------------------ */

.firstTopSide {
    width: 15%;
    float: right;
    background-color: white;
    border-radius: 5px;
    /*margin-left: 3%;*/
    margin-top: 2%;
    margin-bottom: -0.5%;
    padding: 2% 3%;
    line-height: 25px;
    display: inline-block;
}


/* ----------------------------------------------------------------- Footer --------------------------------------------------------------- */

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    background-color: #666;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    box-shadow: 3px 5px 30px black;
}

.mainFooter p {
    width: 92%;
    margin: 10px auto;
}

.mainFooter a {
    color: #5f0d0d;
}

.mainFooter a:hover {
    color: #E91A15
}


/* -------------------------------------------------------HOME PAGE DESIGN------------------------------------------------------------------------------ */

.homePage {
    color: darkblue;
    font-family: easyInstallFont, Verdana;
    text-align: center;
}

.homePageBody {
    background-color: white;
    opacity: 50%;
    /* background-image: url(../img/blur4.png); */
}

.homePageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 6%;
    width: 50%;
    height: auto;
}

.button_NL {
    padding: 12px 35px;
    margin: auto;
    display: inline;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: easyInstallFont, Verdana;
    float: none;
    border: 1px solid black;
    margin-right: 5%;
}

.button_NL:hover {
    box-shadow: 0.5px 0.5px 5px;
}

.button_FR {
    padding: 12px 28px;
    margin: auto;
    display: inline;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: easyInstallFont, Verdana;
    float: none;
    border: 1px solid black;
}

.button_FR:hover {
    padding: 12px 28px;
    box-shadow: 0.5px 0.5px 5px;
}

#btn {
    text-align: center;
}


/* ------------------------------------------------------------------------Formulier------------------------------------------------------------------- */

form {
    /*background-color: #666;*/
    /*box-shadow: 3px 5px 30px black;*/
}

.form_d {
    color: white;
    width: 50%;
    float: left;
    margin-right: 2em;
    margin-top: 2em;
}

.form_content h5 {
    margin-bottom: 0.5%;
    /*display: inline-block;*/
    /* Tekst naast het vak zetten */
}

#submit {
    margin-top: 2%;
}


/* ------------------------------------------------- Contact Informatie -------------------------------------------- */

.openingsurenTable td,
.openingsurenTable table,
.openingsurenTabel th,
.openingsurenTabel h4,
.openingsurenTabel h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table td {
    column-width: 500px;
}

.openingsurenTable {
    position: absolute;
}

.infoTabel td,
.infoTabel table,
.infoTabel th,
.infoTabel h4,
.infoTabel h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.infoTabel h3 {
    font-weight: 600;
}

.infoTabel .mainContentInfoTabel h4 {
    height: 40px;
}


/* class="openingsurenTabel" */

.mainContentOpeningsuren {
    color: white;
    width: 30%;
    margin-left: 70%;
    padding: 1% 1%;
}

.mainContentInfoTabel {
    width: 30%;
    float: left;
}

.infoTabel {
    color: white;
    border-color: white;
    border-style: solid;
    padding: 1% 1%;
    margin-top: 35%;
    width: 77%;
    margin-left: 12%;
    overflow: hidden;
    background-color: transparent;
}

.SideForm {
    /*float: left;*/
    display: inline;
    width: 25%;
}

.mainContentForm {
    color: white;
}

.mainContentForm h5 {
    font-size: 15px;
    margin-bottom: -1%;
}

.mainContentForm h4 {
    font-size: 1.5em;
}


/* ------------------------------------------------------------------Contact Google Maps -------------------------------------------------------*/

#map {
    /*box-shadow: 3px 5px 30px black;*/
    margin-top: 4%;
    display: block;
}


/* -------------------------------------------------------------------SLIDE SHOW------------------------------------------------------------ */

.slideShow {
    margin-top: 2%;
    width: 800px;
    margin-left: 12%;
}

.mySlides {
    margin-top: 2%;
}

.slideShowBtn {
    text-align: center;
    margin-top: 2%;
}

.prevBtn {
    background-color: #666;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.nextBtn {
    background-color: #666;
    /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


/* ------------------------------------------------------------------OVER ONS CONTACTEN------------------------------------------------------------- */

.card,
.card1,
.card2 {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    width: 25%;
    float: left;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    vertical-align: middle;
}


/*
.card1 {
    margin-left: 12%;
}*/

.card1 {
    margin-left: 4%;
}

.card2 {
    margin-left: 8%;
    margin-right: 8%;
}


/*
.avatarImg {
    width: 150px;
}*/


/* On mouse-over, add a deeper shadow */

.card:hover,
.card1:hover,
.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}

.card img,
.card1 img,
.card2 img {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    overflow: hidden;
}

.card a,
.card1 a,
.card2 a {
    font-family: easyInstallFont, Verdana;
    color: white;
}

.card .container h4,
.card1 .container h4,
.card2 .container h4 {
    color: white;
}

.card .container i,
.card1 .container i,
.card2 .container i {
    color: white;
}


/* ---------------------------------------------------- CSS RESET CODE --------------------------------------------------*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*---------------------------------------------------------------- MOBILE -----------------------------------------------------------------------------------*/
/*------------------------------- Home Contents --------------------- */
@media screen and (max-width:780px) {
    .body{
        width: 100%;
    }
    
    .mainContent {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:1280px) {
    .secondContent {
        width: 90%;
    }
    
    .contentTwo img {
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: auto;
    }
}

/*--------------------------------- Over Ons Contents ---------------------------- */
@media screen and (max-width:1280px) {
    .secondContentOverOns{
        width: 90%;
    }
    
    .contentOverOns img {
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-left: auto;
    }
}

/*--------------------------------- Contact Cards ------------------------------------- */

@media screen and (max-width:1450px) {
    .cards {
        width: auto;
    }
}

@media screen and (max-width:1400px) {
    .cards a{
        font-size: 14px;
    }
}

@media screen and (max-width:1275px) {
    .cards a{
        font-size: 12px;
    }
}

@media screen and (max-width:1230px) {
    .cards a, .cards h4{
        font-size: 12px;
    }
    
    .card2 {
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .card1 {
        margin-left: 8%;
    }
}

@media screen and (max-width:1125px) {
    .cards a{
        font-size: 10px;
    }
}

@media screen and (max-width:995px) {
    .card1, .card2, .card {
        display: block;
        float: none;
        margin: auto;
        width: 40%;
        margin-top: 5%;
    }
}

/*------------------------------ Contact Info Uren etc -------------------- */

@media screen and (max-width:1250px) {
    .mainContentOpeningsuren {
        width: auto;
        margin-left: 60%;
    }
}



/* ------------------------------ Navigation Bar ------------------------ */
@media screen and (max-width:780px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:780px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}