body {
    background-color: #0E0E16;
    font font-size: 14px;
    font-family: Arial, Lucida Sans Unicode;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #950000;
}

a:hover(not: .active), a:active {
    /*background-color: #950000;*/
    color: black;
}

.body {
    margin: auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width: 50%;
    height: auto;
    margin: 1% 0;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mainHeader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
}

.mainHeader nav #menu1 {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav #menu1 li {
    float: left;
    display: inline;
}

.mainHeader nav #admin {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav #admin li  {
    float: right;
    display: inline;
}

#admin a:hover {
    background-color: #666;
}

/* --------------------------------------------------------------------------------------------*/
/* Kitchen and Furniture quote moet zoals de andere paginas eruit zien zonder hover, en zonder dat je erop kan klikken.*/
#admin {
    color: white;
    margin-top: 5%;
}

.mainHeader nav a:link,
.mainHeader nav a:visited {
    color: white;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.active {
    background-color: #E91A15;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited  {
    background-color: #E91A15;
}

.mainContent {
    line-height: 25px;
    border-radius: 5px;
}

.content {
    /*width: 70%;*/
    float: left;
}

.HeaderTitle {
    color: #E91A15;
}

.firstContent {
    background-color: white;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    /*margin-right: 25%;*/

}

.secondContent {
    background-color: white;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    /*margin-left: 25%;*/

}

.thirdContent {
    background-color: white;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    /*margin-right: 25%;*/
}

/* PROBLEM SIDE BAR */

/*.firstTopSide {
    width: 15%;
    float: right;
    background-color: white;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: -0.5%;
    padding: 2% 3%;
    line-height: 25px;
    border-radius: 5px;
    display: inline-block;
}*/

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    background-color: #666;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

.mainFooter p {
    width: 92%;
    margin: 10px auto;
}

/* HOME PAGE DESIGN */
.homePage {
    color: darkblue;
    font-family: Verdana;
    text-align: center;
}

.homePageBody {
    background-color: white;
    opacity: 50%;
    /* background-image: url(../img/blur4.png); */
}

.homePageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 6%;
}

.button_NL {
    padding: 12px 35px;
    margin: auto;
    display: inline;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: Verdana;
    float: none;
    border: 1px solid black;
    margin-right: 5%;

}

.button_NL:hover {
    box-shadow: 0.5px 0.5px 5px ;
}

.button_FR {
    padding: 12px 28px;
    margin: auto;
    display: inline;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: Verdana;
    float: none;
    border: 1px solid black;
    
}

.button_FR:hover {
    padding: 12px 28px;
    box-shadow: 0.5px 0.5px 5px ;
}

#btn {
    text-align: center;
}

/* Formulier */

.form_d {
    color: white;
    width: 50%;
    float: left;
    margin-right: 2em;
    margin-top: 2em;
}

.form_content h5 {
    margin-bottom: 0.5%;
    /*display: inline-block;*/ /* Tekst naast het vak zetten */
}

#submit {
    margin-top: 2%;
}

.SideForm {
    /*float: left;*/
    display: inline;
    width: 25%;
    
    
}

.mainContentForm {
    color: white;
}

.mainContentForm h5 {
    font-size: 15px;
    margin-bottom: -1%;
}

.mainContentForm h4 {
    font-size: 1.5em;
}

/* Contact Google Maps */

#map {

}
