body {
    background-color: #000305;
    font font-size: 14px;
    font-family: Arial, Lucida Sans Unicode;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #CF5C3F;
}

a:hover, a:active {
    /*background-color: #CF5C3F;*/
    color: black;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width: 50%;
    height: auto;
    margin: 1% 0;
    margin-left: 25%;
}

.mainHeader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
}

.mainHeader nav #menu1 {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav #menu1 li {
    float: left;
    display: inline;
}

.mainHeader nav #admin {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav #admin li  {
    float: right;
    display: inline;
}



.mainHeader nav a:link,
.mainHeader nav a:visited {
    color: white;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.active {
    background-color: #CF5C3F;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited  {
    background-color: #CF5C3F;
}

.mainContent {
    line-height: 25px;
    border-radius: 5px;
}

.content {
    /*width: 70%;*/
    float: left;
}

.HeaderTitle {
    color: #CF5C3F;
}

.firstContent {
    background-color: white;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    margin-right: 25%;

}

.secondContent {
    background-color: white;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    margin-left: 25%;

}

.thirdContent {
    background-color: white;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    margin-right: 25%;
}

/* PROBLEM SIDE BAR */

/*.firstTopSide {
    width: 15%;
    float: right;
    background-color: white;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: -0.5%;
    padding: 2% 3%;
    line-height: 25px;
    border-radius: 5px;
    display: inline-block;
}*/

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    background-color: #666;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

.mainFooter p {
    width: 92%;
    margin: 10px auto;
}