body {
    background-color: black;
}

.intro {
    color: mediumvioletred;
    font-family: Verdana;
}

.question {
    border-style: dotted;
    border-width: 3px;
}

.answer {
    border-style: dotted;
    border-width: 2px;
    background-color: black;
    color: black;
    border-color: aqua;
}

p:hover {
    color: yellow;
}

h1,
h2,
h3,
h4,
p {
    font-family: Verdana;
    color: white;
}

h1 {
    text-shadow:  10px 10px 5px #888888;
}
